[Unit]
Description=Start Live Wallpaper Script

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/rayquaza/.Xauthority"
User=rayquaza
ExecStart=/home/rayquaza/.config/Wallpapers/LiveWallpaper.sh

[Install]
WantedBy=graphical.target
